@import 'reset';

//exemplo simples
@mixin border($thickness,$color){
    border: $thickness solid $color;
}


// variaveis 
$color-bg-nav: #eee;
$color-link-nav: #ccc;
$color-nav: #000;

// agrupamento com o sass
nav{
    background-color: $color-bg-nav;
    height: 50px;
    display: flex;
    align-items: center;

    ul{
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;

        li{
            margin: 2px;
            
            a{
                background-color: $color-link-nav;
                padding: 10px;
                text-decoration: none;
                color: $color-nav;
                // aplicando o hover
                &:hover{ // o & se refere ao item que o mesmo esta inserido 
                    background-color:#999;
                    @include border(1px, #000);
                   }
                
            }
        }
    }
}

// Expandindo propriedades
%fundamento-msg{
    padding: 10px;
    font-size: 24px;
    border: 2px solid #ccc;
    text-align: center;
    margin: auto;
    max-width: 500px;
    margin-top: 10px;
}

.msg-info{
    @extend %fundamento-msg;
    border-color: #00f;
    color: #00f;
}

.msg-aviso{
    @extend %fundamento-msg;
    border-color: #f00;
    color: #f00;
}

.msg-sucesso{
    @extend %fundamento-msg;
    border-color: #0f0;
    color: #0f0;
}

// efetuando calculo ex

%calculo{
    color: #fff;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
}

$item-width: 100px;

.item{
    @extend %calculo;
    background-color: rgb(0, 0, 0);
    width: $item-width;
}
.item-duplo{
    @extend %calculo;
    background-color: rgb(83, 74, 74);
    width: $item-width * 2;
}

// loop e condicionais
%item-padrao{
    font-size: 14px;
    border: 1px solid #333;
    padding:5px;
    margin: 2px;
    
   }
%item-negrito{
    font-weight: bold;
   }
  
 @for $i from 1 through 10{
    .item-#{$i}{// desta forma se cria variaveis 
      @extend %item-padrao;
      @if $i <= 3 { // o que atende a condicional vai fivar negrito
          @extend %item-negrito;
        }
    }
   }